:root {
  --purple: #4b2582;
  --purple-hue: 265;
  --pink: #e50075;
  --pink-hue: 329;
  --blue: #0071c2;

  --blue-hue: 205;
  --green: #007b3c;
  --green-hue: 149;
  --yellow: #ffdd00;
  --yellow-hue: 52;
  --red: #e4003a;
  --red-hue: 345;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  line-height: 1.6rem;
  margin-bottom: 0.6em;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}
p {
  margin-bottom: 1em;
}

.wrapper {
  max-width: 55rem;
  margin: 3rem auto;
  padding: 1rem;
  font-family: Ubuntu, sans-serif;
  color: rgb(85, 13, 96);
}
h2.sub {
  margin-bottom: 0.6em;
  font-family: 'Space Mono', monospace;
  font-weight: 100;
  text-align: center;
  color: var(--pink);
  font-size: 1.2rem;
}
h1 {
  margin-bottom: 1em;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}
#output,
.instructions {
  border-radius: 50px;
  background: #333333;
  word-wrap: break-word;
  padding: 2rem;
  font-family: 'Space Mono', monospace;
  color: white;
  border-radius: 0.3rem;
  background: #333333;
  box-shadow: 2px 2px 10px #2b2b2b;
}

.section,
.sub-section,
.section__heading,
.sub-section__paragraph,
.sub-section__input {
  color: black;
  border: 1px solid purple;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: normal;
}
.section {
  border-radius: 0.3rem;
}
.sub-section,
.section__heading,
.sub-section__paragraph,
.sub-section__input {
  margin: 1rem;
  text-align: center;
}

.flex {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.flex *:first-child {
  flex-basis: 40%;
}
.flex > *:last-child {
  flex-grow: 1;
  font-size: 0.9rem;
}
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  outline: 0;
  border: 2px solid var(--blue);
  background: var(--blue);
  color: white;
  cursor: pointer;
}
button:hover {
  background: hsl(205, 100%, 58%);
}

.input-group {
  display: flex;
  margin-bottom: 1rem;
}
.input-label {
  flex-basis: 25%;
}

.new-element {
  width: 50%;
  margin: 0.4rem auto;
  height: 100px;
  background: var(--pink);
  padding: 1rem;
  text-align: center;
}

.rounded {
  border-radius: 100%;
}
.larger {
  width: 70%;
  height: 110px;
}
